<div class="main__content">
  <h1>Questions?</h1>
  <h2>Contact us :)</h2>
  <form [formGroup]="contact">
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          #input
          placeholder="Name"
          formControlName="name"
          required
        />
        <mat-hint *ngIf="name.invalid && name.touched"
          >Name is Required</mat-hint
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="example@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Subject</mat-label>
          <input matInput formControlName="subject" placeholder="Subject" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label row="6" formControlName="message" placeholder="Message"
            >Message</mat-label
          >
          <textarea matInput></textarea>
        </mat-form-field>
      </p>
    </div>
  </form>
  <button
    (click)="onSubmit()"
    [disabled]="contact.invalid"
    type="submit"
    class="main__btn"
  >
    <a href="#"><strong> Send </strong></a>
  </button>
</div>
