.mat-form-field {
  margin-left: 8px;
  width: 100%;
}

.form-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

textarea {
  border-radius: 5px;
  padding: 0.5em;
  width: 200vh;
  height: 50px;
}

.main__btn {
  padding: 14px 32px;
  border: none;
  margin-top: 2rem;
  margin-left: 25px;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  border-radius: 10px;
  background-color: #efc9fa;
  box-shadow: 0 10px #2f4c73;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #2f4c73;
  text-decoration: none;
  font-size: 1.5rem;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  transition: all 0.35s;
  border-radius: 10px;
}

.main__btn:hover {
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  // .example-container{
  //     display: flex;
  //     flex-direction: column;
  // }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}
