<div class="main__content">
  <h1>Questions?</h1>
  <h2>Contact us :)</h2>
  <form [formGroup]="contact" >
    <fieldset class="form-nameemail">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Name" required />


      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email" required />

      <small *ngIf="name.invalid && name.touched" class="text-danger">
        Name is Required</small>
      <small *ngIf="email.invalid && email.touched" class="text-danger">
        Valid email is Required</small>
    </fieldset>

    <fieldset class="form-subtext">
      <label for="subject">Subject</label>
      <input type="text" id="subject" class="form-control" formControlName="subject" placeholder="Subject" />
      <!-- <small *ngIf="subject.invalid && subject.touched" class="text-danger">
        Subject is Required</small> -->

      <textarea row="6" style="width: 30px" id="message" class="form-control" formControlName="message"
        placeholder="Message"></textarea>
      <small *ngIf="message.invalid && message.touched" class="text-danger">Message
        is Required(minimus length 10)</small>
    </fieldset>
  </form>
  <button (click)="onSubmit()" [disabled]="contact.invalid" type="submit" class="main__btn">
    <a href="#"><strong> Send </strong></a>

  </button>
</div>
