*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
}

/* Contact Section */
.main{
    background-color: #ffffff;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__img--container{
    text-align: center;
}

#main__img {
    height: 100%;
    width: 100%;
} 

/*Mobile Responsive*/
@media screen and (max-width: 768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__img--container{
        display: none;
    }
}

@media screen and (max-width: 480px){

    .main__img--container{
        display: none;
    }
}