<body>
  <app-nav></app-nav>

  <!-- Contact Section -->
  <div class="main">
    <div class="main__container">
      <div class="main__content">
        <h1>Questions?</h1>
        <h2>Contact us :)</h2>

        <app-contact></app-contact>
        
      </div>

      <div class="main__img--container">
        <img
          id="main__img"
          src="../assets/images/image-contact.jpg"
          alt="Imagem possui um desenho de uma pessoa correndo com um avião de papel lilás na mão."
        />
      </div>
    </div>
  </div>
</body>
<router-outlet></router-outlet>
